*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: auto;

    font-family: 'Roboto', sans-serif;
    background-color: #0f0f0f;
    color:#fff;
    font-size: 18px;
    overflow-x: hidden;
}

/* HEADER */

#top-fixed-header {
    /* border: 1px solid white; */
    position: fixed;
    top: 0;
    padding: 0 16px;
    height: 56px;
    width: 100vw;
    background-color: #000;
    z-index: 1;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.icons2 {
    display: inline-block; 
    margin-right: 20px;
}   

#left {
    position: fixed;
    width: 15%;
    height: 56px;
    padding: 0 16px;
    background-color: #000;
    display: flex;
    align-items: center;
}

#menu:hover {
    background-color: #272727;
    border-radius: 50%;
}

#logo {
    padding-left: 6px;
}

#logo img {
    display: block;
    width: 120px;
    object-fit: contain;
}

/* LEFT MENU */

#left-side-bottom {
    /* border: 1px solid white; */
    /* position: absolute;
    left: 0;
    top: 58px;
    */
    position: relative;
    left: 0;
    top: 56px;
    width: 15%;
    height: 100vh;
    padding: 12px;
    overflow-y: auto;
}

#left-side a {
    text-decoration: none;
    color: #fff;
}

#left-side-bottom ul, #copyright {
    /* border: 1px dashed white; */
    list-style-type: none;
    padding: 12px;
}

.top li, .you li, .subscriptions li, 
.explore li, .more li, .others li, .list-title {
    padding: 0 12px;
    line-height: 40px;
    font-size: 14px;
}

.list-title {
    font-size: 16px;
}

.separator {
    padding: unset;
    border-bottom: 1px solid rgb(128, 128, 128, 0.5);
}

.icon-title-wrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
}

#active {
    background-color: #272727;
    border-radius: 10px;
}

#active:hover {
    background-color: #3d3d3d;
}

.top li:hover, .you li:hover, .subscriptions li:hover, 
.explore li:hover, .more li:hover, .others li:hover, .link:hover {
    background-color: #272727;
    border-radius: 10px;
}

.subscriptions li {
    /* border: 1px dashed white; */
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    width: 100%;
}

.subscriptions a {
    text-decoration: none;
    color: #fff;
}

ul li:hover {
    cursor: pointer;
}

.footer-top li, .footer-bottom li {
    font-size: 13px;
    display: inline-block;
    opacity: 0.8;
    margin-left: 5px;
}

.footer-top li {
    padding-bottom: 0;
}

.footer-bottom li {
    padding-bottom: 0;
}

#copyright {
    font-size: 12px;
    opacity: 0.5;
    font-weight: lighter;
}

#copyright p {
    padding: 0 6px;
    line-height: 24px;
}
